<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <style>
        body {
            display: flex;
            align-items : center;
            justify-content: center;
            flex-direction: column;
            vertical-align: middle;
            height: 100vh;
            font-size: 100px;
        }

    </style>

</head>
<body>
    
    <form action="/auth/login" method="POST">

        <input placeholder="usuario" type='text' name="username" />
        <input placeholder="contraseña" type='password' name="password" />
        <button type="submit">entrar</button>

    </form>

</body>    
</html>